.vkuiSearch {
  background: var(--background_panel) !important;
}

.vkuiSearch__after {
  background: var(--background_panel) !important;
}

.vkuiSearch__after::before {
  background: var(--background_panel) !important;
}

.vkuiSearch__after-in {
  background: var(--background_panel) !important;
}